<section data-ng-controller="ProjectsController" data-ng-init="findOne()">
    <div class="page-header">
        <h1>{{project.name}}</h1>
    </div>
    <div class="row">
    <div class="col-md-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Code</th>
                    <th>Usage in Sq Mtrs</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="panelType in project.panelTypes">
                    <td>{{panelType.code}}</td>
                    <td>{{panelType.usage/1000000}}</td>

                </tr>

            </tbody>
        </table>
    </div>
    <div class="col-md-8">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Width</th>
                    <th>Thickness</th>
                    <th>Color</th>
                    <th>Length</th>

                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="usage in project.EBUsages">
                    <td>{{usage.width}}</td>
                    <td>{{getThicknessText(usage.thickness)}}</td>
                    <td>{{usage.color}}</td>
                    <td>{{usage.length/1000}}</td>
                </tr>

            </tbody>
        </table>
    </div>
    </div>
    
    <div class="pull-right" data-ng-show="authentication.user._id == project.user._id">
        <a class="btn btn-primary" href="/#!/projects/{{project._id}}/ebTypes">
            Manage Edge Band Types
        </a>
        <a class="btn btn-primary" href="/#!/projects/{{project._id}}/panelTypes">
            Manage Panel Types
        </a>
        <a class="btn btn-primary" href="/#!/projects/{{project._id}}/panels">
            Manage Panels
        </a>
        <a class="btn btn-primary" href="/#!/projects/{{project._id}}/edit">
            <i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-primary" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
</section>
